N8N_BASIC_AUTH_ACTIVE=true
N8N_BASIC_AUTH_USER=admin
N8N_BASIC_AUTH_PASSWORD=adminpass
N8N_HOST=n8n.onrender.com
N8N_PORT=5678
WEBHOOK_TUNNEL_URL=https://n8n.onrender.com

DB_TYPE=postgresdb
DB_POSTGRESDB_HOST=tu-host-db
DB_POSTGRESDB_PORT=5432
DB_POSTGRESDB_DATABASE=nombre
DB_POSTGRESDB_USER=usuario
DB_POSTGRESDB_PASSWORD=clave

N8N_ENCRYPTION_KEY=ponéUnaClaveLargaYSegura